@font-face {
    font-family: 'SUIT-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_suit@1.0/SUIT-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-family: "SUIT-Regular",sans-serif;
    z-index:0;
}
html, body {
    margin: 0;
    padding: 0;
  }
  
.header {
    position: fixed;
    z-index: 100;
    display:flex;
    align-items:center;
    width: 100vw;
    height: 11vh;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 3px 0 rgb(135, 135, 135);
    margin: 0 auto;
}

a{
    font-size: 20px;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: abster;
    padding-top:8px ;
    padding-right: 150px;

}
.logo{
    display:flex;
    margin-left: 120px;
    align-items:center;
}
.line{
    display:flex;
    padding-left: 300px;
}
.nav .nav1 .nav2{
    list-style: none;
}

.nav a::before{
    content: "";
    height: 3px;
    transition: 0.3s;
    background-color: rgb(219, 70, 70);
    border-radius: 10px;
    width: 0;
    position: absolute;
    bottom: 0;
}

.nav a:hover::before{
    width: 55px;
    background-color: rgb(130, 130, 130);
}
.nav1 a::before{
    content: "";
    height: 3px;
    transition: 0.3s;
    background-color: rgb(219, 70, 70);
    border-radius: 10px;
    width: 0;
    position: absolute;
    bottom: 0;
}
.nav1 a:hover::before{
    width: 85px;
    background-color: rgb(130, 130, 130);
}
.nav2 a::before{
    content: "";
    height: 3px;
    transition: 0.3s;
    background-color: rgb(219, 70, 70);
    border-radius: 10px;
    width: 0;
    position: absolute;
    bottom: 0;
}
.nav2 a:hover::before{
    width: 85px;
    background-color: rgb(130, 130, 130);
}

.hero{
    display: block;
    position: relative;
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url(images/진양철선생님.jfif);
    background-size: cover;
    margin: 0 auto;
    width: 100vw;
    height: 50rem;
}
p{
    position: relative;
    top: 35%;
    font-size: 90px;
    text-align: center;
    color: rgb(0, 0, 0)
}
h1{
    font-size: 30px;
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-family: abster;
    padding-right: 120px;
}
h2{
    position: relative;
    top: 40%;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 26px;
}
.asdfasf{
    padding-top: 300px;
    text-align: center;
    color: rgb(0, 0, 0);
   
}

.ifm{
    padding-top: 30px;
    font-size: 2rem;
    color: #6e6e6e;
}

h3{
    font-size: 60px;
}

body{
    width:100%;
    overflow-x:hidden; 
}

.wide{
    letter-spacing: 0.1em;
}
ul {
    list-style-type: none;
}

.department{
    
    text-align: center;
    font-size: 80px;
}

.as1{
    width: 100%;
    height: 60px;
    position:absolute;
    bottom: 0;
    background: linear-gradient(to bottom, rgba(203, 203, 203, 0), rgba(203, 203, 203,1));
} 

.section input[id*="slide"]{
    display: none;
}
.section .slidewrap{
    margin:30px auto;
    overflow: hidden;
}
.section .slidelist{
    white-space: nowrap;
    font-size: 0;
}
.slidelist{
    position: relative;
    padding: 0 auto;
    width: 100%;
}
.section .slidelist > li {
    display: inline-block;
    vertical-align: middle;
    width:100%;
    transition: all .5s;
}
.section .slidelist > li > a{
    display: block;
    position: relative;
}
.section .slidelist > li > a img{
    width: 100%;
}
.section .slidelist label{
    position: absolute;
    z-index: 10;
    top: 50%;
    transform: translateY(-50%);
    padding: 50px;
    cursor: pointer;
}
.left{
    left:300px;
}
.right{
    right:300px;
}
.section .slidelist .left{ 
    background: url(images/chevron-left.svg) center center / 100% no-repeat;
}
.section .slidelist .right{ 
    background: url(images/chevron-right.svg) center center / 100% no-repeat;
}
.wid{
    width: 10px;
}

.section [id="slide1"]:checked ~ .slidewrap .slidelist > li {transform: translateX(0%);}
.section [id="slide2"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-100%);}
.section [id="slide3"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-200%);}
.section [id="slide4"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-300%);}
.section [id="slide5"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-400%);}
.section [id="slide6"]:checked ~ .slidewrap .slidelist > li {transform: translateX(-500%);}

.section .slide-control [class*="control"] {display: none;}
.section [id="slide1"]:checked ~ .slidewrap .control1 {display: block;}
.section [id="slide2"]:checked ~ .slidewrap .control2 {display: block;}
.section [id="slide3"]:checked ~ .slidewrap .control3 {display: block;}
.section [id="slide4"]:checked ~ .slidewrap .control4 {display: block;}
.section [id="slide5"]:checked ~ .slidewrap .control5 {display: block;}
.section [id="slide6"]:checked ~ .slidewrap .control6 {display: block;}

.inf{
    padding-top: 30px;
    padding-left: 100px;
    color: rgb(41, 41, 41);
    font-size: 60px;

}
.inf_t{
    display:flex;
    width: 100%;
    justify-content: center;
    padding: 300px;
}
.red{
    color:rgb(227, 81, 81);
}
.sl1{
    font-size: 20px;
}

footer{
    background-color: #ececec;
    height: 160px;
    bottom: 0;
    position: relative;
}
.footer-logo{
    opacity: 0.4;
    position: absolute;
    left: 18%;
    top: 25%;
}
.sns{
    display: flex;
    width: 100px;
    height: 100px;
    right:250px;
    top: 20%;
    opacity: 0.4;
    position: absolute; 
}
.youtube{
    padding-top: 10px;
    padding-left: 50px;
    position: absolute;
}

.sns_text{
    float: right;
    padding-top: 85px;
    padding-right: 265px;
    color: #6e6e6e;
}
.sns_r{
    color: rgb(232, 105, 98);
}


